@import "tailwindcss";

:root {
  --primary-red: hsl(4, 100%, 67%);

  --neutral-blue-800: hsl(234, 29%, 20%);
  --neutral-blue-700: hsl(235, 18%, 26%);
  --neutral-grey: hsl(0, 0%,58%);
}

@theme inline {
  --color-primary-red: var(--primary-red);

  --color-neutral-blue-800: var(--neutral-blue-800);
  --color-neutral-blue-700: var(--neutral-blue-700);
  --color-neutral-grey: var(--neutral-grey);

  --font-roboto: var(--font-roboto);

  --animate-shake:  shake 0.5s;
  --animate-fade-in-up: fade-in-up 0.6s ease-out forwards;

  @keyframes shake {
    0%, 100% {
      transform: translateX(0);
    }
    10%, 30%, 50%, 70%, 90% {
      transform: translateX(-2px);
    }
    20%, 40%, 60%, 80% {
      transform: translateX(2px);
    }
  }

  @keyframes fade-in-up {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
}